<div class="stitch2">
	<h1 class="text-left">about</h1>
	<hr>
	<h3>Holiday Handjobs is more than just a vendor market - it’s a social event, an occasion to meet, booze it up, listen to some cool music, see some neat stuff, and do a little shopping. Our goal is to showcase queer crafters & artists, as well as other underrepresented creative types, cheeky-freaks, freaky-geeks and and create a space where they can show their work and make a few bucks off it. Our 2009 event saw over 450 shoppers and yielded record sales for our more than 20 verndors.</h3>
	<h3>Come join us for a drink at the full bar, and have some fun picking out a little something for both the naughty and the nice on your gift list. You’ll be supporting artists who need support, and you’ll be scoring awesome stuff that you really can’t find anywhere else. And who knows? You may hit the jackpot with our raffle!</h3>
	<h3>A portion of the proceeds from your door donation and raffle ticket sales benefits the National Coalition of Sexual Freedom. Holiday Handjobs has donated over $400 to nonprofits (Spread, 2008 & NELA, 2009).</h3>
	<br>
</div>





 

