<div class="stitch2">
	<h1 class="text-left">contact</h1>
	<hr>
	<h2>You can reach organizer Greg Der Ananian by dropping a line to</h2>
	<h1 class="text-center">info@holiday-handjobs.com</h1>
	<h2>You can also find <a href="http://facebook.com/gregderananian">Greg</a> on Facebook.</h2>
</div>