<div class="stitch2">
	<h1 class="text-left">media</h1>
	<hr>
	<h2 class="text-center"><strong>Holiday Handjobs in the press</strong></h2>
	<h3 class="text-center"><a href="http://www.loadedgunboston.com/2009/02/holiday-handjobs-offers-naughty-v-day.html">Holiday Handjobs mentioned on <em>Loaded Gun Boston</em> (2009)</a></h3>
	<h3 class="text-center"><a href="http://www.baywindows.com/index.php?ch=arts&amp;sc=arts_and_culture&amp;sc2=news&amp;sc3=&amp;id=84489"><em>Bay Windows</em> article about Holiday Handjobs (2008)</a></h3>
	<h3>Coming soon: downloadable promo materials... check back for more as we're updating this page frequently.</h3>
</div>