<div class="stitch2">
	<h1 class="text-left">vendors</h1>
	<hr>
	<h2>Coming next winter</h2>
	<h2>Location: TBA</h2>
	<h2>San Francisco, CA</h2>
	<hr>
	<%= button_to "Check out vendors from previous years", previous_vendors_path, class: "btn btn-success btn-block" %>
</div>